# Ladder if else

In [2]:
x=int(input('enter the choice'))
if(x==1):
    print('mon')
elif(x==2):
    print('tues')
elif(x==3):
    print('wed') 
else:
    print('no choice')

enter the choice 3

wed

# Write a programe to find out the highest number in between 3 input user

In [4]:
x=int(input('enter 1st number'))
y=int(input('enter 2nd number'))
z=int(input('enter 3rd number'))
if (x>y)&(x>z):
    print('greater number',x)
elif (y>x)&(y>z):
    print('greater number',y)
else:
     print('greater number',z)

enter 1st number 44
enter 2nd number 90
enter 3rd number 12

greater number 90

# write a programe for calculater

In [3]:
x=int(input('enter 1st number'))
y=int(input('enter 2nd number'))
print('''enter the choice
1=add
2=sub
3=div
4=mul''')
a=int(input('enter the choice'))
if (a==1):
    print(x+y)
elif (a==2):
    print(x-y)
elif (a==3):
    print(x/y)
else:
    print(a*y)

enter 1st number 30
enter 2nd number 4

enter the choice
1=add
2=sub
3=div
4=mul

enter the choice 3

7.5

# LOOPS

In [7]:
#FOR
#WHILE
#NESTED FOR 
#NESTED WHILE

for loop

In [2]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

nested for loop

In [9]:
for i in range (0,5):
    for j in range (0,5):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [12]:
for i in range (0,5):
    for j in range (0,5):
        print(i,end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [16]:
for i in range (0,5):
    for j in range(0,i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
for i in range (0,5):
    for j in range (0,5-i):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [22]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
c=1
for i in range (1,6):
    for j in range (1, i+1):
        print(c,end=" ")
        c=c+1
    print()
x='A'
print(ord(x))

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
65

In [5]:

for i in range (65,71):
    for j in range (65, i+1):
        print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

In [7]:
k=65
for i in range (65,71):
    for j in range (65, i+1):
        print(chr(k),end=" ")
        k=k+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [8]:
k=65
for i in range (1,6):
    for j in range (1, i+1):
        print(chr(k),end=" ")
        k=k+1
    print()

A
B C
D E F
G H I J
K L M N O

In [11]:

for i in range (0,5):
    for j in range(4,i,-1) :
        print(' ',end=' ')
    for k in range (0,i+1):
        print('*',end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [12]:
 for i in range (0,5):
    for j in range(4,i,-1) :
        print(' ',end=' ')
    for k in range (0,i+1):
        print(' * ',end=" ")
    print()

         *
       *   *
     *   *   *
   *   *   *   *
 *   *   *   *   *

In [15]:
for i in range (0,5):
    for j in range(0,i) :
        print(' ',end=' ')
    for k in range (5,i,-1):
        print('*',end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [16]:
for i in range (0,5):
    for j in range(0,i) :
        print(' ',end=' ')
    for k in range (5,i,-1):
        print(' * ',end=" ")
    print()

 *   *   *   *   *
   *   *   *   *
     *   *   *
       *   *
         *

In [22]:
for i in range (0,4):
    for j in range(4,i,-1) :
        print(' ',end=' ')
    for k in range (0,i+1):
        print(' * ',end=" ")
    print() 
for i in range (0,5):
    for j in range(0,i) :
        print(' ',end=' ')
    for k in range (5,i,-1):
        print(' * ',end=" ")
    print()

         *
       *   *
     *   *   *
   *   *   *   *
 *   *   *   *   *
   *   *   *   *
     *   *   *
       *   *
         *

In [26]:
for i in range (0,5):
    for j in range(4,i,-1):
        print(' ',end=' ')
    for k in range (1,i+2):
        print(k,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [32]:
for i in range (1,6):
    for j in range (i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [3]:
for i in range (0,5):
    for j in range(4,i,-1):
        print(' ',end=' ')
    for k in range (1,i+2):
        print(k,end=" ")
    for j in range (i,0,-1):
            print(j,end=' ')
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# pass
# break
# continue

In [4]:
#write a programme to gassing a number with the help of while loop
#collection=> 2 types 
#similler : array , 
#different : list , tupple , dictionary, sets
#list =  it is a collection of object type elements , store data on index, mutable , class of collection, dynamic, complex data does not pass in list

# list

In [16]:
l=['rahul','ravi','seeta', 333, 6666, 77, 333, 'ravi','vipin','seema','ravi']
l

['rahul',
 'ravi',
 'seeta',
 333,
 6666,
 77,
 333,
 'ravi',
 'vipin',
 'seema',
 'ravi']

In [10]:
count=0
for i in l:
    print(i)
    if (i=='ravi'):
        print('name found',i)
        count=count+1
print(count)

rahul
ravi
name found ravi
seeta
333
6666
77
333
ravi
name found ravi
vipin
seema
ravi
name found ravi
3

In [17]:
l.remove(77)#removed mentioned element, phle vala mentioned element htayega
l

['rahul', 'ravi', 'seeta', 333, 6666, 333, 'ravi', 'vipin', 'seema', 'ravi']

In [18]:
for i in l:
    if (i=='ravi'):
        l.remove(i)
l

['rahul', 'seeta', 333, 6666, 333, 'vipin', 'seema']

# write a programme to gassing a number with the help of while loop

In [1]:
import random
c=1
s=random.randint(10,100)
while(c<4):
   
    print(s)
    a=int(input('enter any two digit value'))
    if (a==s):
        print('congratulation you won')
        break
    else:
        c=c+1

34

enter any two digit value 34

congratulation you won

# Random lottery pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner

In [4]:
import random
print('Generating 100 tickets')
list=[]
for i in range (100):
    list.append(random.randint(10000,99999))
s=random.sample(list,2)
print('winner',s)

Generating 100 tickets
winner [89826, 78514]

In [3]:
l=['rahul','ravi','seeta', 333, 6666, 77, 333, 'ravi','vipin','seema','ravi']
l

['rahul',
 'ravi',
 'seeta',
 333,
 6666,
 77,
 333,
 'ravi',
 'vipin',
 'seema',
 'ravi']

In [3]:
l.pop(3) #index based element htata h ,koi index nhi btayege to last ko delete krega 
l

['rahul', 'ravi', 'seeta', 77, 333, 'ravi', 'vipin', 'seema', 'ravi']

In [4]:
l.clear()# delete all elements from list and list become empty
l

[]

In [3]:
l=['rahul','ravi','seeta', 333, 6666, 77, 333, 'ravi','vipin','seema','ravi']
print(l.reverse())
l

None

['ravi',
 'seema',
 'vipin',
 'ravi',
 333,
 77,
 6666,
 333,
 'seeta',
 'ravi',
 'rahul']

In [6]:
l.insert(7777,3) # 1 he element add krega one time par

In [7]:
l

['rahul',
 'ravi',
 'seeta',
 333,
 6666,
 77,
 333,
 'ravi',
 'vipin',
 'seema',
 'ravi',
 3]

In [8]:
l.append('delhi')# last me new element ko add karta h
l

['rahul',
 'ravi',
 'seeta',
 333,
 6666,
 77,
 333,
 'ravi',
 'vipin',
 'seema',
 'ravi',
 3,
 'delhi']

In [9]:
print(l)

['rahul', 'ravi', 'seeta', 333, 6666, 77, 333, 'ravi', 'vipin', 'seema', 'ravi', 3, 'delhi']

In [11]:
l.count('ravi')#count element

3

In [12]:
l.index('ravi')# index value btata h but ager repeated value ho to 1st

1

In [13]:
for i in range(0,len(l)):
    if(l[i]=='ravi'):
        print(i)

1
7
10

<h2>Slicing</h2>

In [15]:
print(l[3:7])

[333, 6666, 77, 333]

In [16]:
print(l[3:8:2])

[333, 77, 'ravi']

In [20]:
print(l[-2:-8])

[]

In [21]:
print(l[-2:-8:-1])

[3, 'ravi', 'seema', 'vipin', 'ravi', 333]

In [23]:
print(l[::-1])

['delhi', 3, 'ravi', 'seema', 'vipin', 'ravi', 333, 77, 6666, 333, 'seeta', 'ravi', 'rahul']

In [25]:
l2=[]
l2=l #asign kiya , changes nhi hoge
print(id(l))
print(id(l2))

2423934597632
2423934597632

In [26]:
l3=[]
l3=l.copy()# changes hoge main se

In [27]:
l.remove('delhi')

In [28]:
print(l2)
print(l3)

['rahul', 'ravi', 'seeta', 333, 6666, 77, 333, 'ravi', 'vipin', 'seema', 'ravi', 3]
['rahul', 'ravi', 'seeta', 333, 6666, 77, 333, 'ravi', 'vipin', 'seema', 'ravi', 3, 'delhi']

In [29]:
k=[33,89,'ram','sham',67]
k2=[90,56,'rohit','rahul']

In [33]:
k3=k+k2
k.extend(k2)

In [34]:
k

[33, 89, 'ram', 'sham', 67, 90, 56, 'rohit', 'rahul', 90, 56, 'rohit', 'rahul']

In [3]:
x=int(input('enter the size of list'))
k=[]
for i in range(0,x):
    v=eval(input('enter the number'))
    k.append(v)
print(k)

enter the size of list 4
enter the number 8
enter the number 9
enter the number 'uu'
enter the number 'mm'

[8, 9, 'uu', 'mm']

# write a programme to remove duplicate element fron list

In [4]:
z=[22,00,88,66,'dd','ss',22,'dd',22]
y=[]
for i in z:
    if i not in y:
        y.append(i)
print(y)

[22, 0, 88, 66, 'dd', 'ss']

# write a programme to find a prime number in list
# write a programme to find out the string value in list
# write a programme to swap any number of list

In [48]:
z=[22,31,21,67,54,53,28,30,69]
q=[]

for i in z:
    c=0
    for n in range (2,i):
        if i%n==0:
            c=1
            break
    if c==0:
        q.append(i)
print(q)

[31, 67, 53]

In [51]:
z=[22,31,'ram','shyam',30,'seema',69]
h=[]
for i in z:
    if type(i)==str:
        h.append(i)
print(h)

['ram', 'shyam', 'seema']

In [4]:
z=[22,31,30,69]
z[0],z[2],z[1],z[3]=z[2],z[0],z[3],z[1]
print(z)

[30, 69, 22, 31]

In [5]:
z.sort()
print(z)
z.sort(reverse=True)
print(z)

[22, 30, 31, 69]
[69, 31, 30, 22]

In [11]:
v=['uuu','hhh','bbb','mmm','ddd']
v.sort()
print(v)

['bbb', 'ddd', 'hhh', 'mmm', 'uuu']

# list comprehension

In [16]:
# in line code
k=[4,8,9,6,6]
u=[]
for i in k:
    t=i**2
    u.append(t)
u

[16, 64, 81, 36, 36]

In [17]:
p=[i**2 for i in k]#list comprehension

p

[16, 64, 81, 36, 36]

In [18]:
m=[i for i in k if i%2==0]
m

[4, 8, 6, 6]

# dictionary

In [2]:
# denoted by curly braces , mutable, store value at key, dictionary key cannot be duplicateand null,it is in odered format,
#collection of object type element
#key can be any data types

In [23]:
d={123:'ram',234:'seeta',231:'rohit',325:'shobhit',367:'shyam'}

In [5]:
print(d.keys())

dict_keys([123, 234, 231, 325, 367])

In [16]:
print(d.values())

dict_values(['rohit', 'shobhit'])

In [7]:
print(d.items())

dict_items([(123, 'ram'), (234, 'seeta'), (231, 'rohit'), (325, 'shobhit'), (367, 'shyam')])

In [11]:
for i,j in d.items():
    print(i,' ',j)

123   ram
234   seeta
231   rohit
325   shobhit
367   shyam

In [15]:
d.pop(234)# yha key ka nam dena zruri h 
d.popitem()#last element ko delete krega

(367, 'shyam')

In [24]:
n=int(input("enter element tou want to dlt"))
for i in range(0,n):
    t=int(input('enter the key'))
    d.pop(t)

enter element tou want to dlt 2
enter the key 123
enter the key 367

In [21]:
d.clear()

In [22]:
print(d)

{}

In [25]:
print(d.get(325))

shobhit

In [26]:
print(d[325])

shobhit

In [28]:
d.setdefault(300,'ducat')#add new item

'ducat'

In [1]:
d={'id':[111,222,333],'name':['ravi','sunny','rohit'],'lastname':['sharma','verma','nehra'],'age':[23,45,34],'contact':[3455433,4543332,89776504]}
d

{'id': [111, 222, 333],
 'name': ['ravi', 'sunny', 'rohit'],
 'lastname': ['sharma', 'verma', 'nehra'],
 'age': [23, 45, 34],
 'contact': [3455433, 4543332, 89776504]}

In [3]:
for i ,j in d.items():
    print(i," ",j)

id   [111, 222, 333]
name   ['ravi', 'sunny', 'rohit']
lastname   ['sharma', 'verma', 'nehra']
age   [23, 45, 34]
contact   [3455433, 4543332, 89776504]

In [5]:
import pandas as pd
df=pd.DataFrame(d) #to save in csv file...... df.to_csv("d://file name.csv")
print(df)

    id   name lastname  age   contact
0  111   ravi   sharma   23   3455433
1  222  sunny    verma   45   4543332
2  333  rohit    nehra   34  89776504

In [6]:
#Dictionary comprehension is a in line code

In [8]:
s={i:i**2 for i in range (1,10)}
s={i:'even' if i%2==0else 'odd' for i in range(1,10)}
print(s)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

<>:2: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
C:\Users\ASus\AppData\Local\Temp\ipykernel_15616\3413036569.py:2: SyntaxWarning: invalid decimal literal
  s={i:'even' if i%2==0else 'odd' for i in range(1,10)}

# Set

In [10]:
#curly brases
#remove duplicate values automatically
#set remove object type elements
#it store data randomly
#set have no oder
#it is mutable
#sets are usefull to perforn mathmatical operation

In [23]:
s={4,5,6,'ravi', 'nikkhil','sachin',5,6,'ducat'}
print(s)

{'nikkhil', 'ravi', 'ducat', 4, 5, 6, 'sachin'}

In [12]:
print(s)

{'nikkhil', 'ravi', 'ducat', 4, 5, 6, 'sachin'}

In [13]:
s.remove(4)
print(s)

{'nikkhil', 'ravi', 'ducat', 5, 6, 'sachin'}

In [15]:
s.remove('esha')# koi element nhi h to error dega

KeyError: 'esha'

In [16]:
s.discard('esha')#koi data nhi hoga to ignore kar dega

In [17]:
s.clear()

In [18]:
print(s)

set()

In [26]:

s2={666,777,999,5,6,'ducat'}
print(s.union(s2))

{'nikkhil', 4, 5, 6, 999, 777, 'ravi', 'ducat', 666, 'sachin'}

In [27]:
print(s.difference(s2))

{'nikkhil', 'sachin', 4, 'ravi'}

In [28]:
print(s.issubset(s2))

False

In [29]:
print(s.issuperset(s2))

False

In [30]:
s.add('sonu')
print(s)

{'nikkhil', 'ravi', 'ducat', 4, 5, 6, 'sonu', 'sachin'}

In [33]:
x=int(input('enter thr size of set'))
s=set()
for i in range(0,x):
    n=eval(input('enter the value'))
    s.add(n)
print(s)

enter thr size of set 7

# FUNCTION

In [1]:
#We can call code many types with the help of function
#2 types
#user define       ,       system define

In [2]:
#system define functions are pre defined in python

In [3]:
import math

In [4]:
print(math.factorial(5))

120

In [1]:
#user define function
# we have 12 types of user define function
#1. parameterize                           2.parameterless
#3. default parameterize                   4.positional argument
#5. anonymous function(advanced function)  6.return type
#7.recurssive function                     8.argument
#9.keyword argument                        10.itreater
#11.decorater                              12.generater
#13.enumerater

# Parameterize

In [2]:
#def is a keyword to create defination of function
def add(x,y,z):
    t=x+y+z
    print(t)
add(5,7,9)

21

In [4]:
def add(x,y,z):
    t=x+y+z
    print(t)
a=int(input('enter value'))
b=int(input('enter value'))
c=int(input('enter value'))
add(a,b,c)

enter value 7
enter value 8
enter value 9

24

In [17]:
def show(id,name,lastname,age):
    print('emp id is',id)
    print('emp name is',name) 
    print('emp id lastname',lastname)
    print('emp id age',age)  

show(123,'ram','kumar',25)

emp id is 123
emp name is ram
emp id lastname kumar
emp id age 25

In [29]:
# SORTING OF LIST BY FUNCTION
def sort(t):
    for i in t:
        for j in range (0,len(k)-1):
            if t[j]>t[j+1]:
                 t[j],t[j+1]= t[j+1],t[j]
                
    return t

k=[3,8,2,54,1,9]
h=sort(k)
print(h)

[1, 2, 3, 8, 9, 54]

# Parameterless

In [7]:
def add():
    a=6
    b=8
    c=8
    z=a+b+c
    print(z)
add()

22

# default parameterize function

In [23]:
def show (id,name='RAM',last_name,salary):
    print('emp id is',id)
    print('emp name is',name)
    print('emp last_name is',last_name)
    print('emp salary is',salary)
show(111,'name','KUMAR',6000) # oder should be same)

SyntaxError: non-default argument follows default argument (2085728681.py, line 1)

# anonymous function

In [ ]:
# it is a inline function define by lambda keyword
# isme function bna k variable me store kar sakte h
#1 line me code ho sakta h
#but loop nhi lgega and codition bhi nhi lgega
#mathmatical calculation me sabse jyada use hoga

#map
#filter
#reducedefa

In [7]:
def add(y,z):
    t=y+z
    print(t)
add(8,8)

# yha out put me kuchh plus nhi kar sakte

16
<function <lambda> at 0x000002CDC5370900>

In [5]:
t=lambda x,y:x+y #lambda k bad variable declare karna h , 1 bar me 1 he logic lgega
print(t(5,5)+5-2)

13

In [8]:
t=lambda x:x*18/100 # salary ka tax
print(t(6000))

1080.0

In [9]:
# excel sheet me 10000 employe ka tax nikalne k liye

In [2]:
k=[40000,60000,50000,25000,45000,70000,80000,90000,100000,150000]# yha hm loop nhi lga sakte to ham use krege "map"
k2=[2,5,4,3,6,4,3,8,4,3,5,8]
t=list(map(lambda x,y:x-x*y/100,k,k2))
print(t)

[39200.0, 57000.0, 48000.0, 24250.0, 42300.0, 67200.0, 77600.0, 82800.0, 96000.0, 145500.0]

In [1]:
#loop
k=[40000,60000,50000,25000,45000,70000,80000,90000,100000,150000]
k2=[2,5,4,3,6,4,3,8,4,3,5,8]
k3=[]


for i in range (0,len(k)):
    u=k[i]*k2[i]/100
    n=k[i]-u
    k3.append(n)          
print(k3)

[39200.0, 57000.0, 48000.0, 24250.0, 42300.0, 67200.0, 77600.0, 82800.0, 96000.0, 145500.0]

In [4]:
# map loop ka kaam karta h 
# map function 2 parameter leta h
# map k sath ager condition dege to true false value return hogi
# if else ka kaam filter krega

p=list(map(lambda x:x>30000 and x<80000,k))
print(p)

[True, True, True, False, True, True, False, False, False, False]

In [5]:
# using filter
p=list(filter(lambda x:x>30000 and x<80000,k))
print(p)

[40000, 60000, 50000, 45000, 70000]

In [11]:
# reduce
import functools
h='hello ducat india this is python programing'
# alphabet k according ascending order
t=h.split()
print(t)
t.sort()
print(t)
s=functools.reduce(lambda x,y:x+" "+y,t)
print(s)

['hello', 'ducat', 'india', 'this', 'is', 'python', 'programing']
['ducat', 'hello', 'india', 'is', 'programing', 'python', 'this']
ducat hello india is programing python this

# return type function

In [5]:
def add(y,z,x):
    
    t=y+z+x
    return t
# return key word return any value outside the function 
# we can edit the result
# it terminate value return karne k bad koi cod nhi likh sakte
# 1 function me 1 he return keyword kam krega
#1 function me 1 return 2 value return kar sakta h
h=add(5,7,9)


print(h*9)

189

In [8]:
k=[4,8,2,'ravi',7,'sonal',666,'ravi',88]
k.insert(3,'noida')
k

[4, 8, 2, 'noida', 'ravi', 7, 'sonal', 666, 'ravi', 88]

In [9]:
k.count('ravi')

2

# recurssive

In [12]:
# it is a process to call itself again and again untill the condition satisfied
#sum with loop

total=0
for i in range (1,11):
    total=total+i
    
print(total)

55

In [14]:
# sum without loop
#jo kaam loop karta h vo kaam function me recurssive function karta h
#fuction ko terminate return karta h

def facto(x):
    if(x==11):
        return 1
    else:
        return x+facto(x+1)

p=facto(1)
print(p)

56

# arguement

In [30]:
# variable k age * show karta h kitne bhi input le sakte h
#use- parameterised sare parameter dene zruri h but in this parameter skip kar sakte h
def show(*a):
    print(a)
show(123,'ram','sharma',24,8876554322)

(123, 'ram', 'sharma', 24, 8876554322)

# arguement parametarised

In [31]:
def show(**a):
    print(a)
show(id=123,name='ram',fullname='sharma',age=24,phoneno=8876554322)
show(id=999,name='rahul',age=27,salary=90000)

{'id': 123, 'name': 'ram', 'fullname': 'sharma', 'age': 24, 'phoneno': 8876554322}
{'id': 999, 'name': 'rahul', 'age': 27, 'salary': 90000}

# iterater

In [35]:
k=[6,9,7,4,7,8]
t=iter(k)
print(next(t))
print(next(t))
print(next(t))
print(next(t))
print(next(t))
print(next(t))

6
9
7
4
7
8

In [39]:
q='python is easy'
t=iter(q)
print(next(t))
print(next(t))
print(next(t))
print(next(t))
print(next(t))

p
y
t
h
o

# generators

In [43]:
# return 1 he value dega
def show():
    for i in range (1,10):
        return i
k=show()
print(k)

1

In [50]:
# then to overcome this we have generater
#jab tak sari value return na ho jaye
def show():
    for i in range (1,10):
        yield i
k=show()
t=[]
for s in k:
    t.append(s)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# decorator

In [56]:
#it is usefull to apply extra functionallity inexisting functions with any permanent change
#it can never be called, it is applied
#it is for modification and enhancing purpose
#it is not for permanent change
#it is denoted by @
def smartbill(ebill):
    def inner(u,r):
        if u>300:
            u=u-300
            
            return ebill(u,r)
    return inner        


@smartbill
def ebill(u,r):
    
    t=u*r    
    print(t)
        

ebill(1100,15)

12000

# module and packages

In [58]:
#modules is also called function
#package is collection of modules    , package call hoga import se
#library is acollection of packages ,  library call hogi from se 
#pip command for installation "python installer package"
#pep "python enhance package"  to update old version
#package are of two types - 1 khud ka package bna sakte h   2 predefined package
import math
print(math.pow(5,2))


def add(a,b):
    c=a+b
    print(c)
def sub (x,y)
    z=x-y
    print(z)
def mul(n,m):
    v=n*m
    print(v)

#if it is saved in pycharm file then we can import it by its file name then we can use these functions

25.0

# opps programing

In [ ]:
#opps is a methodology to implement real world ideas
#it is used for security purpose
#object oriented programming
#difference bt function and method -  function can be called directly  but if fuction is called by the object that is known as method    
# opps provide reference programming and dynemic programming
#opps provide structure programming
# component of oops - 
#class--- class is blue print and prototype we can declare all data member and member function inside a class
#method----- method is a member of your class , methods are use ful to perform any logics
#object ---- it is a current instance of your class , it is useful to allocate dynamic memory of your class
#attributes---- it also called class variables, it is amember of your class

In [2]:
def add():
    x=10
    y=20
    z=x+y
    print(z)

add()


class cal:#class name
    x=10 #attributes
    y=20
    def add(self):#method  1 class k ander 1 se jyada method ho sakte h
        t=self.x+self.y  #logic
        print(t)
    def mul(self):
        m=self.x*self.y
        print(m)
    def sub(self):
        s=self.x-self.y
        print(s)

30

In [ ]:
def add(x,y):
    return(x+y)
def sub(x,y):
    return(x-y)
def mul(x,y):
    return(x*y)
def div(x,y):
    return(x/y)
a=int(input("enter 1st num:"))
b=int(input("enter 2nd num:"))
op=input("enter the operater")
if(op=="+"):
    print(add(a,b))