In [1]:
a= float(input('enter 1st value ='))
b=  float(input('enter 2nd value ='))
c=  float(input('enter 3rd value ='))
if ((a>b)and(a>c)):
    print('a is greater')
elif((b>a)and(b>c)):
    print('b is greater')
else:
    print('c is greater')

enter 1st value = 9
enter 2nd value = 9
enter 3rd value = 0

c is greater

In [2]:
x=(input('enter any character'))
if ('a'in x) or('e'in x) or('i' in x) or('o'in x) or('u'in x):
    print('Entered Charachter have Vowel.')

else:

    print('Entered Character have no Vowels. ')

enter any character j

Entered Character have no Vowels.

In [3]:
print(' welcome to vending machine here is the list of items')
print(' 1 kurkure rs 20 \n 2 coke rs 20 \n 3 slice rs 40 \n 4 pastries rs 40')
x = int(input('enter the money you have'))
if x>=20 :
        b=int(input('enter the number of product'))
        if b==1 or b==2:
              print('you have to pay rs 20')
              
              print('remaining amount:',x-20)
        else:
              print('you have to pay rs 30')
              
              print('remaining amount:',x-30)
else:
        print('get lost')

 welcome to vending machine here is the list of items
 1 kurkure rs 20
 2 coke rs 20
 3 slice rs 40
 4 pastries rs 40

enter the money you have 90
enter the number of product 3

you have to pay rs 30
remaining amount: 60

In [ ]:
#break
#for else- jab for loop succesfully execute hota h tabhi else ka statement print hota h print hota, it is different from if else
c = [1,2,17,18,19,11,12]
for i in c:
    if i%2==0:
        
        print(i)
        continue
    
else:
    print("odd")
    
    

x = [1,2,3,4,15,16,17,18,19,11,12]
search = int(input('enter value'))
for i in x:
     if i== search:
        print('found')
        break
else:
    print('not found')
# if we dnt put break then found k bad bhi loop chlega and not found will be print
#else if k sath aya to jb bhi koi element match nhi hua to not found print hoga

2
18
12
odd

In [1]:
# continue 
#continue se nechevali  condition  ko nhi print krega infact loop par vapas bhej dega. 
for i in range (100):
    if i%2==0 :
        continue

    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
#STRING collection of characters
#it support concatination and slicing
#it is immutable
#it is +ve and -ve indexed support
#it support multiplication
x = 'Hello_World'* 4
print(x)


x = 'Hello_World'
print(x[11:4:-1])

Hello_WorldHello_WorldHello_WorldHello_World
dlroW_

In [1]:
x= "i Love PytTHon"
print(x.upper())
print(x.lower())
print(x.title())
print(x.swapcase())
print(x.capitalize())

I LOVE PYTTHON
i love pytthon
I Love Pytthon
I lOVE pYTthON
I love pytthon

In [2]:
print(x.split())

['i', 'Love', 'PytTHon']

In [3]:
print(x.split("o"))

['i L', 've PytTH', 'n']

In [6]:

print("abcd@gmail@fggh".split("@"))

['abcd', 'gmail', 'fggh']

In [7]:
a,b,c="abcd@gmail@fggh".split("@")

In [10]:
print(a)
print(b)
print(c)

abcd
gmail
fggh

In [7]:
s,t,u = map(int,input('enter the 3 numbers').split())
print(f's={s}')
print(f't={t}')
print(f'u={u}')

enter the 3 numbers 8 7 9

s=8
t=7
u=9

In [14]:
z= "Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma – which is living with the results of other people’s thinking." 
print(z.count('time'))
print(z.find('loyal')) #index value #koi word nhi hoga to -1
print(z.index('time'))#koi word nhi milega hoga to error dega

1
-1
5

In [16]:
a= "    aassvvbb  "
print(a.strip())# left and right k space htata h.

aassvvbb

 <h1> LIST 12 function </h1>
#all properties of string but list is mutable
#LIST METHOD
#to insert items in list -list.append, -list.insert, -list.extend
#to remove items from list -list.pop, -list.clear, -list.remove
#to change the position  -list.reverse, -list.sort
#remaining -list.copy, -list.count, -list.index

APPEND()- we can insert items one by one.
EXTEND()-insert more items in the form of list.
INSERT() - insert items at particular index.eg- insert(2,'o')

POP()- delete last item from list if index is not specified other wise remove metioned index
REMOV()E- delete mentioned index item,
CLEAR()-delete all list

li.COUNT() , LEN(li)  ,  li.REVERSE() ,  li.SORT() ,INDEX('item')- jo bhi item function me mention l
kroge to index btayega item repeated h to ist ki index btayega.

y=x.copy() - orignal me changes copy me show nhi hoge      ,   y=x changes show hoge

<h1>TUPLE   </h1>

collection of items simillar or different. (2,5,7)
<h3>how create single line tuple</h3>

x=(5,) 
<h3>how create single tuple</h3>

x=2,5
x=(2,5)
<h4>immutable, rest all properties are same as list , fast in comparative to list,value store at index</h4>

<h4>koi method support nhi karta list ka only except (count , index ,len,min,max,sum,[::-1])   </h4>

<h1>SET</h1>

<h4>how to create empty set </h4>

x=set()    unorderd , no indexing, not supprt duplicate , mutable,  s.issubset(s2),  s.superset(s2)

In [2]:
a = { 2 , 4, 'r' , 't' , 'd'}
b = { 3, 5, 4, 'd' , 's','a'}
a-b

{2, 'r', 't'}

In [3]:
b-a

{3, 5, 'a', 's'}

In [4]:
a^b # remove common

{2, 3, 5, 'a', 'r', 's', 't'}

In [5]:
a&b #common

{4, 'd'}

In [6]:
a|b #unnion

{2, 3, 4, 5, 'a', 'd', 'r', 's', 't'}

In [7]:
a.add('s') #add karta h items but in unorderd way matlb khi bhi

In [8]:
a

{2, 4, 'd', 'r', 's', 't'}

In [9]:
a.discard('r')# delete krta h but if mentiond element nhi h to error nhi dega 
a

{2, 4, 'd', 's', 't'}

In [10]:
a.remove(2)# delete krta h but if mentiond element nhi h to error dega 
a

{4, 'd', 's', 't'}

In [13]:
a.update({1, 6, 4,'d'})# not support duplicate
a

{1, 4, 6, 'd', 's', 't'}

In [25]:
x=a # view main me change hoga to dusre me show hoga
t = a.copy() #chnages hoge to show nhi hoge

In [26]:
a.remove(6)

In [27]:
x

{1, 'd', 's', 't'}

In [28]:
print(x,t)

{1, 't', 'd', 's'} {1, 6, 't', 'd', 's'}

<h1>DICTIONARY</h1>

Collection of keys and values , use in designing data bases , mutable

syntax ==> di={'a' : 1, 'b' : 2, 'c' :3}

we can put list and dictionaries in place of values.

In [44]:
di={ 101 : ['ram', 'sharma',28 , 'delhi'] , 102 : ['sham', 'verma', 27 , 'noida']}
# dictionary me list

In [45]:
di

{101: ['ram', 'sharma', 28, 'delhi'], 102: ['sham', 'verma', 27, 'noida']}

In [46]:
di [101]

['ram', 'sharma', 28, 'delhi']

In [47]:
di={ 101 : {'name':'ram', "sname":'sharma','age':28 ,'city': 'delhi'} , 102 : {'name':'sham',"sname": 'verma', 'age':27 ,'city': 'noida'}}
di[101]['age'] # dic me dic

28

In [50]:
di[102]['age']=30 # update age
di

{101: {'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'},
 102: {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'}}

In [53]:
di.keys()

dict_keys([101, 102])

In [54]:
di[101].keys()

dict_keys(['name', 'sname', 'age', 'city'])

key- Immutable data( INT, FLOAT, TUPLE , STRING) , UNIQUE VALUE

value- mutable ,  can be  duplicate

<h2>methods </h2>

In [56]:
di.values()

dict_values([{'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'}, {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'}])

In [57]:
di.keys()

dict_keys([101, 102])

In [58]:
di.items()

dict_items([(101, {'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'}), (102, {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'})])

In [60]:
x=di.copy()
x

{101: {'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'},
 102: {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'}}

In [66]:
di[102]

{'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'}

In [63]:
di.get(103)# not give error if mentioned key is not present

In [65]:
di.get(101)

{'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'}

In [68]:
di.update({103:'seema',104:'rohan'})

In [69]:
di

{101: {'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'},
 102: {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'},
 103: 'seema',
 104: 'rohan'}

In [70]:
di.pop(103)

'seema'

In [71]:
di

{101: {'name': 'ram', 'sname': 'sharma', 'age': 28, 'city': 'delhi'},
 102: {'name': 'sham', 'sname': 'verma', 'age': 30, 'city': 'noida'},
 104: 'rohan'}

<h1>Zip function</h1>

In [82]:
n=[20,40,50]

In [96]:
m=[60,70,80]

[60, 70, 80, 20, 40, 50]

In [87]:
k = zip(n,m)

In [88]:
list(k)
print(k)

<zip object at 0x000001BCB484F440>

In [93]:
li=[('a',20),('d',40),('x',80)]
for i,j in li:
    print(i*j)

aaaaaaaaaaaaaaaaaaaa
dddddddddddddddddddddddddddddddddddddddd
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

In [98]:
n+m
for i in n+m:
    print(i)

20
40
50
60
70
80

1. Write a Python program to find the maximum and minimum values in a given 
list.

In [103]:
max(m)
min(m)

60

2. Given a list of integers, find the second-largest element without sor ng the list.

In [108]:
q=[40,80,100,50,60]
q.sort()
q[-2]

80

3. Write a program to remove duplicate elements from a list while preserving the 
original order.

In [5]:
q=[40,50,60,80,100,50,60,100,90,40,40,50,60]
q2=q.copy()
for i in q:
    if q2.count(i)>1 :
        q2.remove(i)
print(q2)

[80, 100, 90, 40, 50, 60]

4. Given two lists, find the common elements between them and store them in a 
new list.

In [ ]:
q=[40,70,80,100,50,60]
t=[40,60,20,50,99,88,44,33,22]
s=[]
for i in q:
    if i in t:
        s.append(i)
print(s)

In [34]:
q=[40,70,80,100,50,60]
t=[40,60,20,50,99,88,44,33,22]
q=set(q)
t=set(t)
list(q&t)

[40, 50, 60]

5. Write a Python func on to check if a list is sorted in ascending order.

In [44]:
t=[20,30,40,60,88,90]
if sorted(t)==t: # t.sort value return nhi karta , sorted(t) karta h
    print('sorted in ascending order')
else:    
    print('not')

sorted in ascending order

6. Given a list of strings, write a program to find the longest string in the list.

In [46]:
x=['appple' , 'grapesss' , 'tea' , 'board' , 'ball', 'zebra']
max(x) #it gives on the bases of dictionary
max(x, key=len)# it gives on the bases of length

'grapesss'

7. Given a list of numbers, write a program to find the sum of all even numbers in 
the list.

In [47]:
x=[33 ,56,31,78,65,73,28,94]
sum=0
for i in x:
    if i%2==0:
       sum=sum+i
print(sum)

256

8.  Given a list of numbers, write a Python func on to find the product of all 
elements in the list.

In [50]:
x=[33 ,5,3,7,6,7,2,9]
prod=1
for i in x:
    prod=prod*i
print(prod)

2619540

# Car Rental System

In [1]:
car_available={'101':{'name':'Alto', 'status': 'not booked', 'rent per day': 1000},'102':{'name':'Wagenar', 'status': 'not booked', 'rent per day': 1000},
              '103':{'name':'Innova', 'status': 'not booked', 'rent per day': 2000},'104':{'name':'Fortuner', 'status': 'not booked', 'rent per day': 4000},
               '105':{'name':'Harrier', 'status': 'not booked', 'rent per day': 4000},'106':{'name':'Bmw', 'status': 'not booked', 'rent per day': 5000}, 
               '107':{'name':'Desire', 'status': 'not booked', 'rent per day': 2000}, '108':{'name':'Baleno', 'status': 'not booked', 'rent per day': 1500}, 
               '109':{'name':'i10', 'status': 'not booked', 'rent per day': 1000},'110':{'name':'Thar', 'status': 'not booked', 'rent per day': 2500}}

print(" WELCOME TO SHREE RAM CAR RENTAL Ltd ")
print('''1 . Check avaibility of car with price
2 . Car booking.               
3 . Submit car.
to exit press any button''')
z=input("enter the requiremant as per above information")
    
if(z==1):
    for i in car_available: 
        if (car_available[i]['status']=='not booked'):
            print(car_available[i]['name'], car_available[i]['rent per day'])
elif(z==2):
    print('Available cars')
    for i in car_available : 
        if (car_available[i] ['status']== 'not booked'):          
            print(i,car_available[i]['name'],car_available[i]['rent per day'])
            a=input("Enter the car id ")
            b=int(input("Enter days for car booking"))
            c=car_available[a]['rent per day']*b
            print('You have to pay=',c)
            car_available[a]['status'] = 'booked'
elif(z==3) :
    d=input('enter the car id you want to return')
    car_available[d] ['status']= 'not booked'

else:
    exit()

 WELCOME TO SHREE RAM CAR RENTAL Ltd
1 . Check avaibility of car with price
2 . Car booking.
3 . Submit car.
to exit press any button

enter the requiremant as per above information 1